<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Simple EJS Page</title>
</head>
<body>
<!-- Passing a string value from the controller (app.controller.ts) -->
<%= message%>

<!-- Static asset from the /public folder -->
<p><img src="/images/lightbulb.png" /></p>

<a href="/master">Go to EJS master page</a>
</body>
</html>
